<div class="topbar">
  <div class="left">
    <span class="logo">Apmetrik</span>
    <img class="album-art-small" src="../assets/cover.jpg" />
    <div class="track-scroll">
      <span class="scroll-text" id="scrollText">Song Title - Artist</span>
    </div>
  </div>
  <div class="right">
    <span class="apm" id="apm">APM: 0</span>
    <span class="focus" id="focus">Focus: 100%</span>
    <select id="mode-select" class="mode-select">
      <option value="default">🎧</option>
      <option value="gaming">🎮</option>
      <option value="study">📚</option>
    </select>
  </div>
</div>
